%nav.breadcrumb{ aria: { label: 'breadcrumbs' } }
  %ul
    %li= link_to 'Index', quran_surahs_path
    %li= link_to @ayah.surah_name, quran_surah_path(@ayah.surah)
    %li.is-active= link_to @ayah.number, '#', aria: { current: 'page' }