.buttons
  - if account_signed_in?
    - if memorized? @ayah, current_account
      = render 'quran/ayahs/memories/delete_memory'
    - else
      = render 'quran/ayahs/memories/create_memory'

    - if bookmarked? @ayah
      = render 'quran/ayahs/bookmarks/delete_button'
    - else
      = render 'quran/ayahs/bookmarks/create_button'