#ayah-toolbar.btn-toolbar
  .btn-group
    = link_to '#', class: 'btn btn-secondary' do
      = fa_icon 'heart'
      Memorize
    = link_to '#', class: 'btn btn-secondary' do
      = fa_icon 'star'
      Star