%nav.menu.aside
  %p.menu-label Connections
  %ul.menu-list
    %li= link_to 'List', account_connections_path
    %li= link_to 'Connect Twitter Account', '/auth/twitter'

  %p.menu-label Settings
  %ul.menu-list
    %li= link_to 'Edit Profile', edit_account_profile_path
    %li= link_to 'Email Preferences', edit_account_email_preference_path