= render 'form'

- provide :title, 'Update Payment Method'
- provide :layout_template, 'two_column'

- unless browser.mobile?
  - content_for :after_header do
    = render 'accounts/shared/menu'

= javascript_pack_tag 'stripe'