%section.section
  .container
    .columns
      .column.is-one-fifth.is-hidden-touch
        = render "devise/shared/links"

      .column.is-three-fifths
        %header
          %h1.title Resend confirmation instructions

        %section
          = render 'form'

- provide :title, 'Resend confirmation instructions'