%section.section
  .container
    .columns
      .column.is-one-fifth.is-hidden-touch
        = render 'account/shared/menu'

      .column
        %header
          %h1.title Edit Connection

        %section
          = render 'form'

- provide :title, 'Edit Connection'