%section.section
  .container
    .columns.is-centered
      .column.is-two-thirds
        %header
          %h1.title Edit Connection

        %section.main
          = render 'form'

        %section
          %h3.title Delete Connection
          = link_to account_connection_path(@connection), method: :delete, class: 'button is-rounded is-danger', data: { confirm: 'Are you sure you want to delete this connection. There is no undo.'} do
            %span Delete
            %span.icon= fa_icon 'trash'

- provide :title, 'Edit Connection'