%section.section
  .container
    .columns
      - unless browser.mobile?
        .column
          = render 'account/shared/menu'

      .column.is-two-thirds
        %header
          %h1.title Edit Connection

        %section
          = render 'form'

- provide :title, 'Edit Connection'