%section.section
  .container
    .columns
      - unless browser.mobile?
        .column.is-one-fifth
          = render 'account/shared/menu'

      .column
        %header
          %h1.title Connections

        %section
          = render 'table'
          = render 'automatic_posts_message'

- provide :title, 'Connections'