%section.section
  .container
    .columns.is-centered
      .column.is-two-thirds
        %header
          %h1.title Connections

          .field
            = link_to '/auth/twitter', class: 'button is-rounded is-twitter', data: {action: 'activity#toggle'} do
              %span.icon= fa_icon 'twitter'
              %span Connect Twitter Account

        %section
          = render 'table'

- provide :title, 'Connections'