%section.section
  .container
    .columns
      .column.is-one-fifth.is-hidden-touch
        = render "devise/shared/links"

      .column.is-three-fifths
        %header
          %h1.title Create Your PerfectQuran Account

        %section
          = render 'form'

- provide :title, 'Create Your PerfectQuran Account'