%section
  %h2.subtitle Profile Details
  %table.table.is-fullwidth.is-bordered
    %tbody
      %tr
        %th Name
        %td= @account.profile.name
      %tr
        %th Username
        %td= @account.profile.username
      %tr
        %th Bio
        %td= @account.profile.bio