%section.hero.is-orange
  .hero-body
    .container
      .columns
        .column
          %h1.title Join Our Newsletter
          %h2.subtitle We'll notify you when automatic posting becomes available.
        .column
          = render 'shared/newsletter_signup'