- if @charges.any?
  %table.table.is-fullwidth
    %thead
      %tr
        %th Invoice
        %th Date
        %th Ammount
    %tfoot
      %tr
        %th Invoice
        %th  Date
        %th Ammount
    %tbody
      - @charges.each do |charge|
        %tr
          %td= charge.id 
          %td= charge.created_at.to_date.to_formatted_s(:long_ordinal)
          %td $5

- else
  %p.notification.is-info No charges have been made