%section.section
  .container
    .columns
      - unless browser.mobile?
        .column.is-one-fifth
          = render 'account/shared/menu'

      .column
        %header
          %h1.title Billing Histroy

        %section
          = render 'table'

- provide :title, 'Billing History'