%section.section
  .container
    .columns
      - unless browser.mobile?
        .column
          = render 'account/shared/menu'

      .column.is-two-thirds
        %header
          %h1.title Billing Histroy

        %section
          = render 'table'

- provide :title, 'Billing History'