%section.section
  .container
    .columns
      .column.is-one-fifth.is-hidden-touch
        = render 'account/shared/menu'

      .column
        %header
          %h1.title Billing Histroy

        %section
          = render 'table'

- provide :title, 'Billing History'