%section.section
  .container
    .columns
      .column.is-one-fifth.is-hidden-touch
        = render 'account/shared/menu'

      .column
        %header
          %h1.title Update Payment Method

        %section
          = render 'form'

      .column.is-one-fifth

- provide :title, 'Update Payment Method'
= javascript_pack_tag 'stripe'