%section.section
  .container
    .columns
      - unless browser.mobile?
        .column
          = render 'account/shared/menu'

      .column.is-two-thirds
        %header
          %h1.title Update Payment Method

        %section
          = render 'form'

- provide :title, 'Update Payment Method'
= javascript_pack_tag 'stripe'