%section.section
  .container
    .columns
      .column.is-one-fifth

      .column
        %header
          %h1.title Search Results
          %h2.subtitle Your search for <strong>#{@terms}</strong> returned <strong>#{@results.total_count}</strong> results.

        %section
          - @results.each do |result|
            .media
              .media-content
                .content
                  = sanitize result.search_highlights[:content]
                  = link_to result.reference, study_ayah_path(result.ayah)

- provide :title, "Search Results"