= render 'toolbar'

%section
  %h1 Pages
  %table.table
    %thead.thead-default
      %tr
        %th #
        %th Title
    %tbody
      - @pages.each do |page|
        %tr
          %td= page.id
          %td= link_to page.title, manage_page_path(page)
          
- provide :title, 'Pages'