.navbar.is-dark
  .container
    .navbar-end
      .navbar-item
        .field
          %p.control
            = link_to new_admin_article_path, class: 'button is-success' do
              %span.icon= fa_icon 'pencil'
              %span Write New Article

%section.section
  .container
    %header
      %h1.title Articles

    %section
      = render 'table'

- provide :title, 'Articles'