= form_with scope: :article, url: admin_articles_path, id: 'new_article' do |f|
  = render 'form_fields', f: f


- provide :title, t('new_article')

- content_for :after_header do
  = render 'admin/partials/navbar'