%nav.navbar.default{data: {controller: 'navbar'}, role: 'navigation', aria: { label: 'main navigation'} }
  = render 'layouts/default/navbar_brand'

  .navbar-menu{data: {target: 'navbar.menu'}}
    .navbar-end
      = render 'layouts/default/navbar_mobile_menu'
      = render 'layouts/default/navbar_desktop_menu'