.navbar-brand.is-hidden-tablet
  = link_to  root_url, class: 'navbar-item brand' do
    = image_tag 'queue.jpg'

  .navbar-burger{data: {action: 'click->navbar#toggle_menu', target: 'navbar.burger'}}
    %span
    %span
    %span

.navbar-brand.is-hidden-mobile
  = link_to  root_url, class: 'navbar-item' do
    = image_tag 'queue.jpg'

  .navbar-burger{data: {action: 'click->navbar#toggle_menu', target: 'navbar.burger'}}
    %span
    %span
    %span