<h1>Suwar</h1>

<ol>
  <% @surahs.each do | surah | %>
    <li>
      <%= link_to "#" do %>
        <div>
          <h2>
            <%= "#{surah.id}. #{surah.transliterated_name} : #{surah.arabic_name}" %>
          </h2>
          <p>
            <%= "#{surah.revelation_type.capitalize}. #{surah.number_of_ayahs} Ayat. Revealed #{surah.order_of_revelation.ordinalize}." %>
          </p>
        </div>
      <% end %>
    </li>
  <% end %>
</ol>