  <% @surahs.each do | surah | %>
    <%= link_to surah.permalink, class: 'surah-link' do%>
    <section>
      <h2>
        <%= "#{surah.id} #{surah.transliterated_name}" %>
        <span class='arabic'><%= surah.arabic_name %></span>  
      </h2>
      <p>
        <%= "#{surah.english_name}. #{surah.revelation_type.capitalize}. #{surah.number_of_ayahs} Ayat. Revealed #{surah.order_of_revelation.ordinalize}." %>
      </p>
    </section>
    <% end %>
<% end %>