- content_for :header do
  = render 'accounts/shared/menu'

- content_for :main do
  %h2.title Upgrade to become a PerfectQuran Patron

  = render 'form'

= render "layouts/templates/is_half", title: 'New Subscription'

= javascript_pack_tag 'stripe'