%h2.title Upgrade to become a PerfectQuran Patron

= render 'form'

- provide :title, 'New Subscription'
- provide :layout_template, 'two_column'

- unless browser.mobile?
  - content_for :after_header do
    = render 'accounts/partials/desktop/navbar'

= javascript_pack_tag 'stripe'