.hero.is-link.is-bold.is-fullheight
  .hero-body
    .container
      .columns
        .column
          %h2.title
            %span.has-text-danger #{fa_icon('heart')}
            Help Reach Hearts.
          .content
            %p
              I pray you are in the best of health and Imaan.

            %p
              It is my dream to wake each morning, brew a pot of coffee and sit down at the kitchen table that has become my office and work solely on PerfectQuran. I can't imagine a better way to spend my time. The goodness that could come from this work is difficult to measure. We are reaching thousands of people, with the Words of Allah, that might otherwise not have read them. We are casting a net of love and mercy and catching hearts.

            %p
              I need your support to keep the lights on and grow and improve the service. However, I don't want you to support PerfectQuran based on how it is today. Support it because of the thousands of people that will read, memorize, and contemplate the Quran because of your support. Support it because of the many hundreds of hours that I, and others, will be able to dedicate to it because of your support.

            %p
              I love you all from the bottom of my heart. It is my absolute pleasure to see so many people use PerfectQuran. Please keep me in your prayers.
        .column
          %h2.title
            %span.has-text-danger #{fa_icon('heart')}
            Become A Patron.
          = render 'form'

- provide :title, 'New Subscription'

= javascript_pack_tag 'stripe'