- content_for :main do
  = render 'summary'
  = render 'points'

- content_for :aside do
  .buttons
    = link_to 'Edit Profile', edit_accounts_profile_path, class: 'button is-fullwidth'    

= render "layouts/templates/is_two_thirds", title: 'Profile'