%table.table.is-fullwidth
  %thead
    %tr
      %th Invoice
      %th Date
      %th Ammount
  %tfoot
    %tr
      %th Invoice
      %th  Date
      %th Ammount
  %tbody
    - @charges.each do |charge|
      %tr
        %td= charge.id 
        %td= charge.created_at.to_date.to_formatted_s(:long_ordinal)
        %td $5

- provide :title, 'Billing History'
- provide :layout_template, 'two_column'

- unless browser.mobile?
  - content_for :after_header do
    = render 'accounts/partials/desktop/navbar'