%article.media
  .content
    %h1.title= link_to article.title, content_article_path(article.permalink)

    = render 'content/articles/partials/desktop/article_metadata', article: article

= sanitize article.content