%article.media
  .media-content
    .content
      %h2.title= link_to article.title, content_article_path(article.permalink)

      = render 'content/articles/article_metadata', article: article

      = sanitize article.content