- unless browser.mobile?
  .navbar.secondary
    .container
      .navbar-start
        .navbar-tabs
          - Category.find_each do |category|
            = link_to '#', class: 'navbar-item is-tab' do
              = category.name

%section.section
  .container
    .columns.is-centered
      .column.is-two-thirds
        %header.is-hidden
          %h1.title Blog
        
        %section
          = render @articles

- provide :title, 'Blog'