%section.section
  .container
    .columns
      .column

      .column.is-three-quarters
        %header
          %h1.title Blog
        
        %section
          = render @articles

- provide :title, 'Blog'