%section.section
  .container
    .columns
      - unless browser.mobile?
        .column

      .column.is-three-quarters
        %header.is-hidden
          %h1.title Blog
        
        %section
          = render @articles

- provide :title, 'Blog'