- unless browser.mobile?
  .navbar.secondary

%section.section
  .container
    .columns.is-centered
      .column.is-two-thirds
        %header.is-hidden
          %h1.title Blog
        
        %section
          = render @articles

- provide :title, 'Blog'