- content_for :main do
  %article.content
    = sanitize @article.content

  .is-divider
  
  = render 'content/articles/comments'  
  = render 'content/articles/comments_form'

= render "layouts/templates/is_two_thirds", title: @article.title