= render 'shared/page_header', title: @article.title

%section.section
  .container
    .columns.is-centered
      .column.is-two-thirds
        %article.content
          = sanitize @article.content

= render 'content/articles/comments'

= render 'content/articles/comments_form'

- provide :title, @article.title