%article.article.content
  = render 'content/articles/byline', article: @article
  = sanitize @article.content

= render 'content/articles/comments'  
= render 'content/articles/comments_form'

- provide :title, @article.title
- provide :layout_template, 'single'