html
  background: $background

audio
  width: 100%
  margin-bottom: $margin-bottom

.navbar-burger
  border-radius: 0
  border: 0

  &.is-active
    background: $orange
    color: $white

.navbar-brand
  img
    border-radius: 50%

#error_explanation
  @extend .notification, .is-danger, .content

  h2
    color: $white

.section
  background: $white

.is-twitter-button
  @extend .button
  background: #00aced
  color: $white

  &:hover, &:active
    background: #0084b4
    color: $white