%table#mosques.table.is-fullwidth
  %tbody
    %tr
      %th #
      %th Name
      %th location
      %th Email
  %tbody
    - @mosques.each do |mosque|
      %tr
        %td= mosque.id
        %td= mosque.name
        %td= mosque.location
        %td= mail_to mosque.email