.navbar.is-dark
  .container
    .navbar-end
      .navbar-item
        .field.is-grouped
          %p.control
            = link_to 'New Mosque', new_admin_mosque_path, class: 'button is-success'

%section.section
  .container
    %header
      %h1.title Mosques

      %section.box
        = render 'table'

- provide :title, 'Mosques'