<div class='columns'>
  <div class='column'>
    <%= render 'accounts/memories/surahs/partials/progress' %>
  </div>
  <div class='column'>
    <div class="tabs is-right ">
      <ul>
        <li><a>Index</a></li>
        <li><a>Memorize Surah</a></li>
        <li><a>Revise</a></li>
      </ul>
    </div>
  </div>
</div>

<div class='section-divider'></div>

<div class='columns'>
  <div class='column'>
    <h2 class='subtitle'>Not Memorized</h2>
    <% @not_memorized_ayahs.each do |ayah| %>
      <%= render 'accounts/memories/surahs/partials/not_memorized_card', ayah: ayah %>
    <% end %>
  </div>

  <div id='memorized-cards' class="column">
    <h2 class='subtitle'>Memorized</h2>
    <% @memorized_ayahs.each do |ayah| %>
      <%= render 'accounts/memories/surahs/partials/memorized_card', ayah: ayah %>
    <% end %>
  </div>
</div>

<% provide :title, "Memorization: #{@surah.transliterated_name}" %>

<% unless browser.mobile? %>
  <% content_for :after_header do %>
    <%= render 'accounts/shared/menu' %>
  <% end %>
<% end %>
