.container
  %nav.breadcrumb.is-left{ aria: { label: 'breadcrumbs' } }
    .container
      %ul
        %li= link_to 'Index', quran_surahs_path
        %li.is-active= link_to @surah.transliterated_name, '#', aria: { current: 'page' }