%nav.pagination{ role: 'navigation', aria: { label: 'pagination' } }
  = link_to quran_surah_path(@surah.previous), class: 'pagination-previous' do
    Previous
  = link_to quran_surah_path(@surah.next), class: 'pagination-next' do
    Next