%section.section.is-small.is-white.is-hidden-touch
  .container
    .columns
      .column
        .field
          - if account_signed_in?
            = render 'buttons'
      .column
        .buttons.is-right
          = link_to 'Previous', quran_surah_path(@surah.previous), class: 'button is-orange'
          = link_to 'Next', quran_surah_path(@surah.next), class: 'button is-orange'
      .column.is-half
        = render 'audio'