- if browser.mobile?
  = render 'quran/surahs/partials/mobile/surah_index_list'
- else
  = render 'quran/surahs/partials/desktop/surah_index_list'
  - content_for :after_navbar do
    = render 'quran/surahs/partials/desktop/after_navbar'

- provide :title, 'Surahs'