<section>
    <h1>Most Memorized</h1>
    <% Ayah.order("memories_count DESC").limit(5).each do |ayah| %>
        <%= link_to "#{ayah.surah.transliterated_name}:#{ayah.number} (#{ayah.memories_count})", surah_path(ayah.surah.permalink, anchor: "ayah-#{ayah.id}") %>
    <% end %>
</section>