%nav.navbar.navbar-expand-lg.navbar-light.bg-white
  
  = link_to 'Dashboard', manage_root_path, class: 'navbar-brand'

  %ul.navbar-nav
    %li.nav-item.dropdown
      = link_to '#', id: 'nav-content-dropdown', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' } do
        Content
      .dropdown-menu
        = link_to 'Pages', manage_pages_path, class: 'dropdown-item'
    %li.nav-item
      = link_to 'Users', manage_users_path, class: 'nav-link'