%section#points
  %h1.title= number_with_delimiter @total_points
  %h2.subtitle Total Points 

  .columns.is-multiline.is-mobile
    - @surahs.each do |surah|
      .column.is-one-quarter
        %p
          %strong
            = number_with_delimiter surah.ayahs.joins(:memories).where(memories: { account: current_account }).sum(:character_length) * 3
        %p
          = surah.transliterated_name