= render 'form'

- provide :title, 'Edit Profile'
- provide :layout_template, 'two_column_sidebar_left'

- unless browser.mobile?
  - content_for :after_header do
    = render 'account/partials/desktop/navbar'

  - content_for :sidebar do
    = render 'account/shared/application/menu'