%section
  %h1 Comments
  
  %table.table
    %thead.thead-default
      %tr
        %th #
        %th Commenter
        %th Content
    %tbody
      - @comments.each do |comment|
        %tr
          %td= link_to comment.id, manage_comment_path(comment)
          %td= link_to comment.user.name, manage_user_path(comment.user)
          %td= markdown comment.content.truncate(100)
           
- provide :title, 'Comments'