#quran-ayahs.show

  audio
    width: 100%

  .previous-ayah, .next-ayah
    padding: 5px
    background: $background
    border-radius: $radius
    margin-bottom: $gap / 4

  .current-ayah
    margin-bottom: $gap / 2

    .uthmani-text
      font-size: 2rem
      text-align: right
      line-height: 2.2

    h3
      font-size: 1.1rem
      color: $orange-dark

  +desktop
    audio
      margin-bottom: 1.5rem