-# - page.ayahs.each do |ayah|
  -# - if ayah.number == 1
  -#   %p.surah-title= ayah.surah.arabic_name

  -# %span
    -# %span data-action='click->page#select_ayah' data-ayah='<%= ayah.id %>' class='uthmani-text'><%= ayah.uthmani_text %></span>
    -# <span class='ayah-number'><%= ayah.number %></span>

-# <div data-target='page.page' data-id='<%= page.id %>'></div>