- if account_signed_in? || taggable.tags.any?
  #tags.panel
    %p.panel-heading Tags
    - if taggable.tags.any?
      .panel-block
        #tag-list.field.is-grouped.is-grouped-multiline
          - taggable.tags.each do |tag|
            .control
              .tags
                %span.tag 
                  %span.icon= fa_icon 'tag'
                  %span= tag.name

    .panel-block
      - if account_signed_in?
        = render 'tags/form', tag: tag, taggable: taggable