.navbar.is-dark
  .container
    .navbar-end
      .navbar-item
        .field
          %p.control
            = link_to admin_cities_path, class: 'button' do
              %span.icon= fa_icon 'th-list'
              %span Cities Index

%section.section
  .container
    %header
      %h1.title New City

    %section.box
      = form_with scope: :city, url: admin_cities_path, id: 'new-city' do |f|
        = render 'form_fields', f: f

- provide :title, 'New City'