%article.message.is-danger
  .message-header
    %p Important Message About Automatic Posting
  .message-body.content
    %p 
      Alhamdulillah, I'm super excited about finally starting to allow
      automatic posting. This was the distinguishing feature that made
      PerfectQuran so popular in the past.

    %p
      There are a few points of note:

    %ul
      %li For the moment this only works with Twitter
      %li This will post one ayah of Quran every hour to your Twitter account
      %li It only Tweets ayahs from the origianal Arabic or The Noble Quran English translation