= render 'form'

- provide :title, 'Edit Connection'
- provide :layout_template, 'two_column'

- unless browser.mobile?
  - content_for :after_header do
    = render 'accounts/shared/menu'

  - content_for :sidebar do
    = render 'automatic_posts_message'      