.box
  %table.table.is-striped.is-fullwidth
    %tbody
      %tr
        %th Fajr
        %td -
      %tr
        %th Sunrise
        %td -
      %tr
        %th Dhuhr
        %td -
      %tr
        %th Asr
        %td -
      %tr
        %th Maghrib
        %td -
      %tr
        %th Isha
        %td -
      %tr
        %th Jumu'ah Khutbah
        %td -
      %tr
        %th Jumu'ah Salah
        %td -