.navbar-item
  = form_with url: quran_texts_path, method: :get, local: true do |f|
    .field.has-addons
      .control
        = f.text_field :terms, id: 'search-terms-input', class: 'input', placeholder: 'Search the Quran'
      .control
        = f.submit 'Search', class: 'button is-orange'