%section.section.is-brown.is-mobile
  .tabs.is-toggle.is-toggle-rounded.is-fullwidth.is-small
    %ul
      %li.is-active{data: {target: 'tabs.tab'}}
        = link_to 'Surah', '#', data: {action: 'tabs#toggle'}
      %li{data: {target: 'tabs.tab'}}
        = link_to 'Information', '#', data: {action: 'tabs#toggle'}