%table#articles.table.is-fullwidth
  %tbody
    %tr
      %th #
      %th Name
      %th Description
  %tfoot
    %tr
      %th #
      %th Name
      %th Descrption
  %tbody
    - @categories.each do |category|
      %tr
        %td= category.id
        %td= link_to category.name, admin_category_path(category)
        %td= category.description