.navbar.is-dark
  .container
    .navbar-end
      .navbar-item
        .field.is-grouped
          %p.control
            = link_to new_admin_category_path, class: 'button' do
              %span.icon= fa_icon 'pencil'
              %span Create New Category

%section.section
  .container
    %header
      %h1.title Categories

    %section.box
      = render 'table'

- provide :title, 'Categories'