%section.section
  .container
    .columns
      .column.is-one-fifth
        = render 'admin/shared/menu'

      .column
        %header
          %h1.title Categories

        %section
          = render 'table'

- provide :title, 'Categories'