%section.section
  .container
    .columns
      .column.is-one-fifth
        = render 'admin/shared/menu'

      .column
        %header
          %h1.title New Category

        %section
          = form_with scope: :category, url: admin_categories_path, id: 'new_category' do |f|
            = render 'form_fields', f: f

      .column.is-one-fifth

- provide :title, 'New Category'