= render 'admin/partials/tabs', action: 'new'

= form_with scope: :category, url: admin_categories_path, id: 'new_category' do |f|
  = render 'form_fields', f: f

- provide :title, t('admin.categories.new.title')

- content_for :after_header do
  = render 'admin/partials/navbar'