.button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 1em;
  font-weight: 600px;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
  vertical-align: middle;
}

.button-block {
  display: block;
  margin-bottom: $small-spacing;
}

.button-small {
  padding: $small-spacing / 2;
  font-size: 0.9em;
}

.button-default {
  background-color: $light-gray;
  color: contrast-switch($light-gray);

  &:hover {
    $button-hover-background-color: shade($light-gray, 20%);
    background-color: $button-hover-background-color;
    color: contrast-switch($button-hover-background-color);
  }

  &:disabled {
    &:hover {
      background-color: $light-gray;
    }
  }
}

.button-primary {
  background-color: $red;
  color: #ffffff;

  &:hover {
    background-color: shade($red, 20%);
    color: #ffffff;
  }
}