body>footer {
  @include grid-container;
  background: $dark-gray;
  margin-top: $small-spacing;

  p {
    @include grid-column(6);
    color: $light-gray;
    font-size: 0.9em;
    margin-top: $small-spacing;

    a {
      color: $light-gray;
      text-decoration: none;
      margin-right: $small-spacing;
    }
  }

  p:last-of-type {
    text-align: right;
  }
}