body>header {
  @include grid-container;
  background-color: #ffffff;
  border-bottom: 1px solid $light-gray;
  margin-bottom: $base-spacing;
  box-shadow: 1px 0 6px $dark-gray;

  h1 {
    @include grid-column(2);
    background-image: image-url("pq-full.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;

    a {
      display: inline-block;
      color: transparent;
    }
  }

  nav {
    @include grid-column(10);
    text-align: right;
    line-height: 50px;

    a {
      margin-left: $small-spacing;
      text-decoration: none;
      color: $dark-gray;
    }

    p {
      display: inline;
    }
  }
}