#ayahs

  .ayah
    background-color: $white
    border: 1px solid $gray-200
    border-radius: $border-radius

    .previous-ayah, .next-ayah
      color: $gray-600
      padding: $spacer
      font-size: 0.9rem

    .previous-ayah
      border-bottom: 1px solid $gray-200

    .next-ayah, 
      border-top: 1px solid $gray-200

    article.current-ayah
      padding: $spacer
      margin: $spacer 0

      h1
        margin-bottom: $spacer
        font-size: 1.1rem
      
      h2
        color: $primary-color
        font-size: 1.1rem
      
      p
        margin-bottom: $spacer
        font-size: 1.1rem

        &.arabic
          line-height: 1.55
          font-size: 1.5rem
          text-align: right