#surahs {

  ol {
    column-count: 2;
  }

  li {
    @extend .box-shadow;
    background: #ffffff;
    border-radius: 1px;
    color: $dark-gray;
    padding: $small-spacing;  
    border-left: 3px solid $red;
    margin-bottom: $small-spacing;

    p {
      font-size: 0.9em;
      margin-bottom: 0;
    }  
    
    h2 {
      font-size: 1.1em;
    }
    
    section {
  
      a {
        display: block;
        margin-bottom: $small-spacing;
        font-size: 0.9em;
      }
    }
  }
}

#surah {
  >footer {
    text-align: right;
  }
  
  >header {
    background: #ffffff;
    border-radius: 1px;
    color: $dark-gray;
    box-shadow: 1px 1px 4px $dark-gray;
    border-left: 3px solid $red;
    margin-bottom: $small-spacing;
    height: 50px;
    line-height: 50px;

    h1 {
      @include grid-column(4);
    }

    .breadcrumb {
      @include grid-column(4);
      text-align: center;
    }

    nav {
      @include grid-column(4);
      text-align: right;
    }
  }

  #ayahs {

    .ayah {
      @include grid-container;
      background-color: #ffffff;
      border-radius: 1px;
      box-shadow: 1px 1px 4px $dark-gray;
      border-left: 3px solid $light-gray;
      margin-bottom: $small-spacing;
      padding: $base-spacing 0;
      
      header {
        @include grid-column(3);    
      }

      section {
        @include grid-column(9);
      }

      .arabic {
        font-size: 2em;
        line-height: 1.5em;
        text-align: right;
      }

      h2 {
        margin-top: $small-spacing;
        font-size: 1.1em;
      }

      p {
        margin-bottom: $base-spacing;
      }
    }
  }
} 