= render 'manage/shared/actions_toolbar', object: Post.new

%section
  %h1 Posts

  %table.table
    %thead.thead-default
      %tr
        %th #
        %th Title
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.id
          %td= link_to post.title, manage_post_path(post)
          
- provide :title, 'Posts'