= render 'manage/shared/actions_toolbar', object: @post

%section
  %h1 
    Post
    %small= @post.title

  %p
    Category
    %small= @post.category.name

  .content= markdown @post.content

- provide :title, @post.title