#accounts-profiles.show

  section#summary
    padding-bottom: 2rem
    border-bottom: 15px solid $background

  section#points
    padding: 2rem 0

  h1.title small
    color: $grey-light
    font-size: 1.5rem

#accounts-subscriptions.new
  .navbar, #newsletter, .footer, .notification
    display: none