@import 'trix'
@import 'font-awesome'
@import "sass/utilities/initial-variables"
@import "sass/utilities/functions"
@import "sass/utilities/derived-variables"
@import "admin/variables"
@import 'bulma'

.box
  border-radius: none

header
  margin-bottom: $gap

fieldset
  padding: $gap
  margin-bottom: $gap
  border-color: $background