$pq-brown: #6b5139;
$pq-orange: #ff9937;
$pq-yellow: #6b6039;

@import "bourbon";
@import "neat";
@import "base/base";
@import "surahs";

body>header {
  @include grid-container;
  border-bottom: 4px solid $pq-brown;
  padding: 1rem 0;
  margin-bottom: 2rem;

  div {
    @include grid-column(6);
  }

  nav {
    @include grid-column(6);
  }
}

.hidden {
  display: none;
}