@import 'trix'
@import 'font-awesome'
@import 'shared/variables'
@import 'bulma'
@import 'shared/common'
@import 'quran/surah_index'
@import 'quran/surah_show'
@import 'quran/ayah_show'
@import 'quran/memory_new'
@import 'content/articles_index'
@import 'registrations'
@import 'accounts/profiles'

.tooltip 
  @extend .notification
  @extend .is-danger
  margin-bottom: 10px
  position: absolute
  width: 150px
  padding: 10px
  text-align: center