@import 'variables';
@import "bootstrap";
@import "font-awesome";
@import 'buttons';
@import 'discussions';
@import 'topics';

html {
  font-size: 14px;
}

body {
  color: $pq-primary-text-color;
}

form, section {
  margin-bottom: $spacer;
}

body>header {
  background-color: $pq-primary-color;
  padding: $spacer 0;
  color: $white;
  margin-bottom: $spacer;

  h1 {
    font-size: 2em;

    small {
      color: $pq-primary-color-light;
      font-size: 0.7em;
    }
  }
}

body>footer {
  background-color: $pq-primary-text-color;
  color: $pq-secondary-text-color;
  padding: $spacer 0;

  a {
    color: $pq-secondary-text-color;
  }
}

#surahs {

  a.surah-link { 
    color: $pq-primary-text-color;
    text-decoration: none;

    section {
      padding: $spacer 0;
      border-bottom: 1px solid $pq-divider-color;
      margin: $spacer 0;
  
      h2 {
        font-size: 1.2rem;
      }
  
      p {
        font-size: 0.9rem;
      }
  
      .arabic {
        float: right;
        color: $pq-secondary-color;
        text-align: center;
      }
    }
  }
}

article.ayah {
  padding: $spacer 0;
  border-bottom: 1px solid $pq-divider-color;

  h1 {
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.1em;
    color: $pq-secondary-text-color;
  }

  section {
    padding: ($spacer / 2) 0;
  }

  p.arabic {
    text-align: right;
    font-size: 2em;
    line-height: 1.8; 
  }
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-success;
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;

  h2 {
    font-size: 1.2rem;
  }
}

.nav-tabs {
  margin-bottom: 20px;
}

.table {
  margin-bottom: 40px;
}