*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;  
  color: $dark-gray;
  font-family: $font-stack-system;;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color:#f4f0ec;
}

h1 {
  font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 $small-spacing 0;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl, dd {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: $base-spacing 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: 1px solid $light-gray;
}

th {
  font-weight: 600;
}

th, td {
  padding: $small-spacing $small-spacing $small-spacing 0;
}

p {
  margin: 0 0 $small-spacing 0;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

label.check-box {
  display: inline;
}

.check-box-field {
  margin-bottom: $small-spacing * 2;
}

#{$all-text-inputs} {
  margin-bottom: $small-spacing * 2;
  padding: $base-spacing / 3;
  width: 100%;

  &:focus {
    border-color: lighten($red, 20%);
    outline: none;
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;
}

article {
  @extend .box;
  @extend .box-shadow;
}

.container {
  @include grid-container;
}

#sidebar {
  @include grid-column(3);
}

main {
  @include grid-column(9);
}

.hidden {
  display: none;
}

.box {
  background: #ffffff;
  padding: $small-spacing;
  border: 1px solid $light-gray;
}

.box-shadow {
  box-shadow: 1px 1px 4px #ccc;  
}