$primary-color: #E91E63;

$blue:    #007bff;
$red:     #dc3545;
$yellow:  #ffc107;
$green:   #28a745;
$cyan:    #17a2b8;

$gray-100: #f8f9fa;
$gray-800: #343a40;

$theme-colors: (
  primary: $primary-color,
  secondary: $blue,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

@import "bootstrap";
@import "font-awesome";

// body {
  // background-color: $gray-200;
// }

.navbar {
  margin-bottom: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

footer {
  padding: 20px 0;
  border-top: 2px solid $gray-200;
}

article.post {
  margin-bottom: 40px;

  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
  }
}

.aside {

  section {
    margin-bottom: 40px;
    border-bottom: 2px solid $gray-100;
    
    h5 {
      color: $gray-600;
      font-variant: small-caps;
    }
  }

  .nav {
    font-size: 1.2rem;
  }

  a {
    color: $gray-700;

    &:hover {
      color: $gray-900;
    }
  }
}