@import 'font-awesome'
@import 'quran/variables'
@import 'bulma'

aside, main
  padding: 24px 12px

  +desktop
    padding: 24px 12px $gap 12px

  section
    margin-bottom: 24px

aside
  min-height: 100%
  background: $background

audio
  width: 100%

header
  margin-bottom: 24px
  padding-bottom: 12px

.next-ayah-link
  float: right

.ayah
  .column:first-of-type
    order: 1

.columns.is-gapless
  margin-bottom: 0 !important

.context
  p
    margin-bottom: 12px

  .icon
    padding-left: 24px
    font-size: 3rem

.current-ayah
  margin-bottom: $gap

  p
    margin-bottom: 42px !important

.footer
  color: $grey

  strong
    color: $white

  a, a:link
    color: $yellow

.navbar
  img
    border-radius: $radius

.uthmani-text
  text-align: right
  font-size: 2rem
  margin-bottom: 24px