// Variables - Colors
$brown: #653100
$brown-invert: findColorInvert($brown)

$brown-dark: darken($brown, 5%)

$yellow: #FEC70A
$yellow-invert: findColorInvert($yellow)

$orange: #FA9942
$orange-invert: findColorInvert($orange)

$orange-light: lighten($orange, 20%)
$orange-light-invert: findColorInvert($orange-light)

$orange-dark: darken($orange, 20%)
$orange-dark-invert: findColorInvert($orange-dark)

$alert: $red
$alert-inverse: findColorInvert($alert)

$notice: $green
$notice-inverse: findColorInvert($green)

$link: $orange-dark

$tabs-link-color: $yellow
$tabs-toggle-link-active-background-color: $yellow
$tabs-toggle-link-border-color: $yellow
$tabs-toggle-link-active-color: $text

$addColors: ("brown":($brown, $brown-invert), "yellow":($yellow, $yellow-invert), "orange":($orange, $orange-invert), "orange-light":($orange-light, $orange-light-invert), "orange-dark":($orange-dark, $orange-dark-invert), "alert":($alert, $alert-inverse), "notice":($notice, $notice-inverse))
$colors: map-merge($colors, $addColors)

$notification-radius: 0