%section
  %h1 Users
    
  %table.table
    %thead
      %tr
        %th #
        %th Username
        %th Name
        %th Email
    %tbody
      - @users.each do |user|
        %tr
          %td 
            = user.id
          %td
            = link_to user.username, manage_user_path(user)
          %td
            = user.name
          %td
            = user.email

- provide :title, 'User Management'