%section.section
  .container
    .columns
      .column.is-one-fifth
        = render 'account/shared/menu'

      .column
        %header
          %h1.title Current Subscription

        %section
          = render 'table'

- provide :title, 'Current Subscription'