<table class='table is-fullwidth'>
  <thead>
    <tr>
      <th>#</th>
      <th>Account</th>
      <th>Ayah</th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.id, admin_bookmark_path(bookmark) %></td>
        <td><%= bookmark.account.email %></td>
        <td><%= bookmark.ayah %></td>
      </tr>
    <% end %>
  </tbody>
</table>