.ayah-action-button {
  border: 0;
  border-radius: 3px;
  display: block;
  font-size: 0.9em;  
  font-weight: 600;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
  background-color: #dddddd;
  color: #333333;
}

.ayah-action-button:hover {
  background-color: #777777;
  color: #222222;
}

a.memorized {
  background-color: #f24632;
  color: #ffffff;
}

a.memorized:hover {
  background-color: #BF1300;
  color: #ffffff;
}

a.favorited {
  background-color: #D4AF37;
  color: #ffffff;
}

a.favorited:hover {
  background-color: #A17C04;
  color: #ffffff;
}