%section.section
  .container
    .columns
      - unless browser.mobile?
        .column.is-one-fifth
          = render 'account/shared/menu'

      .column
        %header
          %h1.title Edit Email Preferences

        %section
          = render 'form'

- provide :title, 'Edit Email Preferences'