%table#states.table.is-fullwidth
  %tbody
    %tr
      %th #
      %th Name
      %th Code
      %th Country
  %tbody
    - @states.each do |state|
      %tr
        %td= state.id
        %td= state.name
        %td= state.code
        %td= state.country_name