.navbar.is-dark
  .container
    .navbar-end
      .navbar-item
        .field
          %p.control
            = link_to admin_states_path, class: 'button' do
              %span.icon= fa_icon 'th-list'
              %span States Index

%section.section
  .container
    %header
      %h1.title New State

    %section.box
      = form_with scope: :state, url: admin_states_path, id: 'new-state' do |f|
        = render 'form_fields', f: f

- provide :title, 'New State'