%section.hero.patron-banner.is-bold
  .hero-body
    .container
      .columns
        .column.is-three-fifths
          %h4.title #{fa_icon('heart')} Help Reach Hearts. Become a Patron.
        .column
          = link_to account_subscription_path, class: 'button is-large is-warning is-fullwidth' do
            %span.icon.has-text-danger #{fa_icon('heart')}
            %span  Support PerfectQuran!