!!!5
%html{ html_attrs('en') }
  = render 'layouts/shared/head'
  
  %body{id: params[:controller].gsub('/', '-') }
    = render 'layouts/manage/navbar'

    .container-fluid
      = render 'layouts/shared/flash'

      %main
        = yield